<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Low Ex Countown</title>
  
  
  
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 
    <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="splash">
                    <h1>Showtime</h1>
                    <div id="clockdiv">
                        <div>
                          <span class="days"></span>
                          <div class="smalltext">Days</div>
                        </div>
                        <div>
                          <span class="hours"></span>
                          <div class="smalltext">Hours</div>
                        </div>
                        <div>
                          <span class="minutes"></span>
                          <div class="smalltext">Minutes</div>
                        </div>
                        <div>
                          <span class="seconds"></span>
                          <div class="smalltext">Seconds</div>
                        </div>
                    </div>
                    <div id="venue">
                        <p>Blue Ocean Music Hall 3/24/18</p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
  
    <script src="../js/index.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
